// Your custom styles
//body
body {
    background-color: #F2F7FB;
    color: #373A3C;
}
//footer
footer {
    margin-top:3rem;
}
//img-fondo sidenav
.sn-bg-4 {
    background-image: url(./../img/sidenav4.jpg);
}
//sidenav color de fondo
.black-skin .side-nav .sidenav-bg:after,
.black-skin .side-nav .sidenav-bg.mask-strong:after {
  background: rgba(42, 42, 42, 0.8);
}
.side-nav {
  .logo-wrapper {
    img {
      padding-top: 7%;
      padding-bottom: 7%;
      margin-left: 20px;
    }
  }
}
.side-nav {
  .logo-wrapper {
    height: 150px;
  }
}

//heading
.card-miga-pan {
  background: rgba(67, 171, 173, 0.10);
  box-shadow: none;
  .card-body {
    padding: 16px 15px;
  }
}
.fixed-sn {
  main {
    padding-top: 5rem;
  }
}


//tables

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.0);
}
.table-striped tbody tr {
  background-color: rgba(0, 0, 0, 0.05);
}
.table-striped {
  thead {
    tr {
      th {
        padding: .3rem 0.6rem
      }
    }
  }

  tbody {
    tr {
      td {
        padding: .3rem 0.6rem
      }
    }
  }
}
.align-middle {
  thead {
    tr {
      th {
        vertical-align: middle !important;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle !important;
      }
    }
  }
}


//buttons
.btn-chico {
  padding: 0.5rem .6rem !important;
}

//form
.md-form-select {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  label {
    position: absolute;
    top: -14px;
    font-size: .8rem;
    left: 0px;
  }
}
mdb-select>div>div.single>div.placeholder,
mdb-select>div>div.single>div.value {
  line-height: 1.4rem;
}