<div class="login">
  <!-- Material form login -->
  <!-- Card content -->
  <mdb-card cascade="true" narrower="true" class="card-login">
    <div class="view view-cascade  gradient-card-header blue-gradient">
      <h2 class="card-header-title">Iniciar sesión</h2>
    </div>
    <mdb-card-body cascade="true" class="text-center">
      <!-- Form -->
      <form class="text-center" style="color: #757575;">
        <!-- Usuario -->
        <div class="md-form">
          <i class="fa fa-user prefix"></i>
          <input
            mdbInputDirective
            type="text"
            id="form1"
            class="form-control"
          />
          <label for="form1">Usuario</label>
        </div>

        <!-- Contraseña -->
        <div class="md-form">
          <i class="fa fa-lock prefix"></i>
          <input
            mdbInputDirective
            type="password"
            id="form2"
            class="form-control"
          />
          <label for="form2">Contraseña</label>
        </div>

        <div class="d-flex justify-content-end">
          <div>
            <!-- Forgot password -->
            <a href="">¿ Olidaste la contraseña ?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button
          mdbBtn
          color="primary"
          block="true"
          mdbWavesEffect
          type="submit"
          routerLink="/distribuidores"
        >
          Iniciar sesión
        </button>
      </form>
      <!-- Form -->
    </mdb-card-body>
  </mdb-card>

  <!-- Material form login -->
</div>
