<h1 class="mb-4">
  <mdb-icon icon="tasks" size="1x"></mdb-icon> Resumen general
</h1>

<!-- Heading -->
<div class="card card-miga-pan mb-4 wow"></div>
<!-- Heading -->

<!-- Cabecera de botones -->
<div class="card mb-4 wow">
  <!-- Card content -->
  <div class="card-body d-sm-flex">
    <div class="container-fluid text-info">
      <div class="row">
        <p>
          Reporte Estadísticos que presentan la Ventas por Material ordenados
          por cifra de Venta
        </p>
      </div>
      <div class="row">
        <div class="col-sm">
          <h6>Fecha</h6>
          <p>25-09-2018</p>
        </div>
        <div class="col-sm">
          <h6>Dias de venta del mes</h6>
          <p>22</p>
        </div>
        <div class="col-sm">
          <h6>Dias transcurridos</h6>
          <p>18</p>
        </div>
        <div class="col-sm">
          <h6>% Avance</h6>
          <p>82%</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cabecera de botones -->

<!-- Cabecera de botones -->
<div class="card mb-4 wow">
  <!-- Card content -->
  <div class="card-body d-sm-flex">
    <button type="button" class="btn btn-success waves-light" mdbWavesEffect>
      Exportar excel
    </button>
  </div>
</div>
<!-- Cabecera de botones -->

<!-- Cabecera de botones -->
<div class="card mb-4 wow">
  <!-- Card content -->
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-responsive table-striped table-hover table-sm align-middle"
        hover="true"
        responsive="true"
      >
        <thead class="grey lighten-2">
          <tr class="">
            <th scope="col" colspan="8"></th>
            <th scope="col" colspan="4" class="azul">Septiembre 2018</th>
            <th scope="col" colspan="4">Septiembre 2017</th>
            <th scope="col" colspan="3" class="azul">Var. % s/ Año Ant.</th>
          </tr>
          <tr class="">
            <th scope="col" width="20px"></th>
            <th scope="col">Código sucursal</th>
            <th scope="col">RUT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Comuna</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Descripción</th>
            <!-- Septiembre 2018 -->
            <th scope="col" class="azul">Valor ($)</th>
            <th scope="col" class="azul">Vol. (Lts)</th>
            <th scope="col" class="azul">PPL ($)</th>
            <th scope="col" class="azul">Nº Cajas</th>
            <!-- Septiembre 2017 -->
            <th scope="col">Valor ($)</th>
            <th scope="col">Vol. (Lts)</th>
            <th scope="col">PPL ($)</th>
            <th scope="col">Nº Cajas</th>
            <!-- Var. % s/ Año Ant. -->
            <th scope="col" class="azul">Valor ($)</th>
            <th scope="col" class="azul">Vol. (Lts)</th>
            <th scope="col" class="azul">PPL ($)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999999" />
                <label class="form-check-label" for="999999">1</label>
              </div>
            </th>
            <th>12018322</th>
            <th>54.678.345-1</th>
            <th>Samka</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>SAVORY Helado Tres Leches 6x1L CL</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 21.029.664</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul red-text">-23,2 %</th>
            <th class="azul red-text">-23,2 %</th>
          </tr>

          <tr>
            <th>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999999" />
                <label class="form-check-label" for="999999">2</label>
              </div>
            </th>
            <th>12018322</th>
            <th>54.678.345-1</th>
            <th>Dimer</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>SAVORY Helado Tres Leches 6x1L CL</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 21.029.664</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul red-text">-23,2 %</th>
            <th class="azul red-text">-23,2 %</th>
          </tr>
          <tr>
            <th>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999999" />
                <label class="form-check-label" for="999999">3</label>
              </div>
            </th>
            <th>12018322</th>
            <th>54.678.345-1</th>
            <th>Frio Express</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>SAVORY Helado Tres Leches 6x1L CL</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 21.029.664</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul red-text">-23,2 %</th>
            <th class="azul red-text">-23,2 %</th>
          </tr>
          <tr>
            <th>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999999" />
                <label class="form-check-label" for="999999">4</label>
              </div>
            </th>
            <th>12018322</th>
            <th>54.678.345-1</th>
            <th>Ditron Algarrobo</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>SAVORY Helado Tres Leches 6x1L CL</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 21.029.664</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul red-text">-23,2 %</th>
            <th class="azul red-text">-23,2 %</th>
          </tr>
          <tr>
            <th>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999999" />
                <label class="form-check-label" for="999999">5</label>
              </div>
            </th>
            <th>12018322</th>
            <th>54.678.345-1</th>
            <th>Maguindo Gahona</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>SAVORY Helado Tres Leches 6x1L CL</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 21.029.664</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul red-text">-23,2 %</th>
            <th class="azul red-text">-23,2 %</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Cabecera de botones -->
