<!-- Double navigation -->
<header>
  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav class="sn-bg-4 fixed" [fixed]="true">
    <!-- Logo -->
    <li>
      <div class="logo-wrapper waves-light">
        <a href="#">
          <img
            src="./../../../assets/img/logo/logo.png"
            class="img-fluid flex-center"
          />
        </a>
      </div>
    </li>
    <!-- /. Logo -->

    <li>
      <ul class="collapsible collapsible-accordion">
        <mdb-accordion [multiple]="false" aria-multiselectable="false">
          <!-- Distribuidores -->
          <mdb-accordion-item class="no-collase">
            <mdb-accordion-item-head
              mdbWavesEffect
              routerLink="distribuidores"
              routerLinkActive="active"
            >
              Distribuidores</mdb-accordion-item-head
            >
            <mdb-accordion-item-body></mdb-accordion-item-body>
          </mdb-accordion-item>

          <!-- Resumen general -->
          <mdb-accordion-item class="no-collase">
            <mdb-accordion-item-head
              mdbWavesEffect
              routerLink="resumenGeneral"
              routerLinkActive="active"
            >
              Resumen general</mdb-accordion-item-head
            >
            <mdb-accordion-item-body></mdb-accordion-item-body>
          </mdb-accordion-item>

          <!--
            Detalle
            clientes
          -->
          <mdb-accordion-item>
            <mdb-accordion-item-head mdbWavesEffect>
              Detalle clientes</mdb-accordion-item-head
            >
            <mdb-accordion-item-body>
              <ul>
                <li>
                  <a
                    href="#"
                    routerLink="detalleCliente/conCompra"
                    class="waves-effect"
                    mdbWavesEffect
                    >Con compra (CCC)</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    routerLink="detalleCliente/sinCompra"
                    class="waves-effect"
                    mdbWavesEffect
                    >Sin compra (CSC)</a
                  >
                </li>
              </ul>
            </mdb-accordion-item-body>
          </mdb-accordion-item>

          <!-- Detalle de maquinas -->
          <mdb-accordion-item>
            <mdb-accordion-item-head mdbWavesEffect>
              Detalle de máquinas</mdb-accordion-item-head
            >
            <mdb-accordion-item-body>
              <ul>
                <li>
                  <a
                    href="#"
                    routerLink="detalleMaquinas/sinVenta"
                    class="waves-effect"
                    mdbWavesEffect
                    >Sin venta (MSV)</a
                  >
                </li>
              </ul>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        </mdb-accordion>
      </ul>
    </li>

    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!-- /. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar
    SideClass="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar"
    [containerInside]="false"
  >
    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse black-text">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!-- /. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb -->
      <div class="breadcrumbs breadcrumb-dn mr-auto black-text">
        <p>ScoreBoard</p>
      </div>
      <!-- /. Breadcrumb -->
    </mdb-navbar-brand>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="login" mdbWavesEffect>
            <span class="clearfix d-none d-sm-inline-block">Cerrar sesión</span>
          </a>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!-- /. Navbar -->
</header>
<!-- /.Double navigation -->
