// Button tags
.waves-input-wrapper {
    display: inline-block;
}

// Flat button
.btn {
    &.btn-flat {
        color: inherit !important;
    }
}

.btn-flat {
    background: transparent;
    color: inherit !important;
    position: relative;
    padding: 8px 30px;
    border: none;
    margin: 10px;
    text-transform: uppercase;
    text-decoration: none;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus,
    &:hover {
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

//Fixed buttons
.fixed-action-btn {
    .fixed_collapse {
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        bottom: 70px;
        margin: 0;
    }
}

// Floating button
.btn-floating {
    mdb-icon {
      display: inline-block;
      width: inherit;
      text-align: center;
      color: $white-base;
    }
    &:hover {
      box-shadow: $z-depth-2;
    }
    &:before {
      border-radius: 0;
    }
    &.btn-sm {
      @include make-btn-floating($btn-floating-width-sm, $btn-floating-height-sm, $btn-floating-icon-size-sm, $btn-floating-line-height-sm);
    }
    &.btn-lg {
      @include make-btn-floating($btn-floating-width-lg, $btn-floating-height-lg, $btn-floating-icon-size-lg, $btn-floating-line-height-lg);
    }
  }

.btn {
    &.btn-floating {
        position: fixed;
    }
}

.btn-rounded {
    border-radius: 10em !important;
}

[type=checkbox].onFocusSelect,
[type=radio].onFocusSelect {
    visibility: visible !important;
    opacity: 0 !important;
}

// Checkbox
// [type="checkbox"] {
//     &[class*="filled-in"] {
//         &:checked {
//             +label:after {
                
                
//             }
//         }
//     }
// }

[type=checkbox].onFocusSelect,
[type=radio].onFocusSelect {
    visibility: visible !important;
    opacity: 0 !important;
}