<h1 class="mb-4">
  <mdb-icon icon="tasks" size="1x"></mdb-icon> Distribuidores
</h1>

<!-- Heading -->
<div class="card card-miga-pan mb-4 wow"></div>
<!-- Heading -->

<!-- Cabecera de botones -->
<div class="card mb-4 wow">
  <!-- Card content -->
  <div class="card-body d-sm-flex">
    <div class="container-fluid text-info">
      <div class="row">
        <div class="col-sm">
          <h6>Fecha</h6>
          <p>25-09-2018</p>
        </div>
        <div class="col-sm">
          <h6>Dias de venta del mes</h6>
          <p>22</p>
        </div>
        <div class="col-sm">
          <h6>Dias transcurridos</h6>
          <p>18</p>
        </div>
        <div class="col-sm">
          <h6>% Avance</h6>
          <p>82%</p>
        </div>
        <div class="col-sm">
          <div class="row"><h6>Filtro</h6></div>
          <div class="row">
            <div class="col-sm noP">
              <p><b>Mes:</b> Septiembre</p>
            </div>
            <div class="col-sm noP">
              <h6></h6>
              <p><b>Año:</b> 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cabecera de botones -->

<!-- Cabecera de botones -->
<div class="card mb-4 wow">
  <!-- Card content -->
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table-score table table-responsive table-striped table-hover table-sm align-middle"
        hover="true"
        responsive="true"
      >
        <thead class="grey lighten-2">
          <tr class="">
            <th scope="col">Canal</th>
            <th scope="col">% CCC</th>
            <th scope="col">Obj CCC</th>
            <th scope="col">Var % CCC</th>
            <th scope="col">% CSC</th>
            <th scope="col">Obj % CSC</th>

            <th scope="col">PNV Prom</th>
            <th scope="col">Obj PNV Prom</th>
            <th scope="col">Var PNV Prom</th>
            <th scope="col">Prospeccion Obj</th>

            <th scope="col">% Con Venta</th>
            <th scope="col">% MSV</th>
            <th scope="col">% MSV W-1</th>
            <th scope="col">% MSV W-2</th>

            <th scope="col">% MSV W-3</th>
            <th scope="col">Días de Stock</th>
            <th scope="col">Cump PNV</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Samka</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th>869</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.7</th>
            <th><i class="fa fa-circle amber-text fa-lg"></i>0.6</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>23.560.700</th>
            <th>15.827.494</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.4</th>
            <th>0.4</th>

            <th><i class="fa fa-circle amber-text fa-lg"></i>0.8</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>160</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.0</th>
          </tr>
          <tr>
            <th>Dimer</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th>869</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.7</th>
            <th><i class="fa fa-circle amber-text fa-lg"></i>0.6</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>23.560.700</th>
            <th>15.827.494</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.4</th>
            <th>0.4</th>

            <th><i class="fa fa-circle amber-text fa-lg"></i>0.8</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>160</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.0</th>
          </tr>
          <tr>
            <th>Frio Express</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th>869</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.7</th>
            <th><i class="fa fa-circle amber-text fa-lg"></i>0.6</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>23.560.700</th>
            <th>15.827.494</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.4</th>
            <th>0.4</th>

            <th><i class="fa fa-circle amber-text fa-lg"></i>0.8</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>160</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.0</th>
          </tr>
          <tr>
            <th>Ditron Algarrobo</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th>869</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.7</th>
            <th><i class="fa fa-circle amber-text fa-lg"></i>0.6</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>23.560.700</th>
            <th>15.827.494</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.4</th>
            <th>0.4</th>

            <th><i class="fa fa-circle amber-text fa-lg"></i>0.8</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>160</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.0</th>
          </tr>
          <tr>
            <th>Maguindo Gahona</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th>869</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.7</th>
            <th><i class="fa fa-circle amber-text fa-lg"></i>0.6</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>23.560.700</th>
            <th>15.827.494</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.4</th>
            <th>0.4</th>

            <th><i class="fa fa-circle amber-text fa-lg"></i>0.8</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>160</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.0</th>
          </tr>
          <tr>
            <th>Ditron La Ligua</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th>869</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.7</th>
            <th><i class="fa fa-circle amber-text fa-lg"></i>0.6</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>23.560.700</th>
            <th>15.827.494</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.4</th>
            <th>0.4</th>

            <th><i class="fa fa-circle amber-text fa-lg"></i>0.8</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>160</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.0</th>
          </tr>
          <tr>
            <th>Chacon y Garay</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th>869</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.2</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.7</th>
            <th><i class="fa fa-circle amber-text fa-lg"></i>0.6</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>23.560.700</th>
            <th>15.827.494</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.4</th>
            <th>0.4</th>

            <th><i class="fa fa-circle amber-text fa-lg"></i>0.8</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>

            <th><i class="fa fa-circle red-text fa-lg"></i>0.1</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>160</th>
            <th><i class="fa fa-circle green-text fa-lg"></i>0.0</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Cabecera de botones -->
