<h1 class="mb-4">
  <mdb-icon icon="tasks" size="1x"></mdb-icon> Vendedores
</h1>

<!-- Heading -->
<div class="card card-miga-pan mb-4 wow">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <p class="mb-0">
      <span class="grey-text">Maestros</span>
      <span> /</span>
      <span>Vendedores</span>
    </p>

  </div>

</div>
<!-- Heading -->


<!-- Cabecera de botones -->
<div class="card mb-4 wow">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-end">

    <button type="button" class="btn btn-primary waves-light float-right" data-toggle="modal" data-target="#basicExample" (click)="centralLarge.show()"
      mdbWavesEffect>
      Agregar vendedor
    </button>

    <div mdbModal #centralLarge="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title w-100 text-left" id="myModalLabel">Agregar vendedor</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="centralLarge.hide()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="md-form">
                    <input value="" type="text" id="form1" class="form-control" mdbInputDirective placeholder="Código">
                    <label for="form1">Código</label>
                  </div>
                  <div class="md-form">
                    <input value="" type="text" id="form2" class="form-control" mdbInputDirective placeholder="Rut">
                    <label for="form2">Rut</label>
                  </div>
                  <div class="md-form">
                    <input value="John Doe" type="text" id="form3" class="form-control" mdbInputDirective placeholder="Nombre">
                    <label for="form3">Nombre</label>
                  </div>
                </div>
                <div class="col">
<div class="md-form-select">
    <mdb-select [options]="optionsSelect" placeholder="Seleccione un territorio"></mdb-select>
    <label>Territorio</label>
</div>
                  <div class="md-form">
                    <input value="" type="text" id="form5" class="form-control" mdbInputDirective placeholder="Móvil corporativo">
                    <label for="form5">Móvil corporativo</label>
                  </div>
                  <div class="md-form">
                    <input value="John Doe" type="text" id="form6" class="form-control" mdbInputDirective placeholder="Móvil personal">
                    <label for="form6">Móvil personal</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default waves-light" data-dismiss="modal" (click)="centralLarge.hide()" mdbWavesEffect>Cerrar</button>
            <button type="button" class="btn btn-secondary waves-light" mdbWavesEffect>Guardar</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- Cabecera de botones -->



<!-- Cabecera de botones -->
<div class="card mb-4 wow">

  <!--Card content-->
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm align-middle">
        <thead class="grey lighten-2">
          <tr>
            <th scope="col" width="20px"></th>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Territorio</th>
            <th scope="col">Móvil corporativo</th>
            <th scope="col">Móvil personal</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999999">
                <label class="form-check-label" for="999999"></label>
              </div>
            </td>
            <th scope="row">999999</th>
            <td>Nombre 1</td>
            <td>Territorio 1</td>
            <td>9 999 99 999</td>
            <td>9 999 99 999</td>
            <td>
              <button class="btn-primary btn-sm btn-chico m-0" mdbBtn type="button" size="sm" mdbWavesEffect>
                <mdb-icon icon="pencil" size="2x"></mdb-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999998">
                <label class="form-check-label" for="999998"></label>
              </div>
            </td>
            <th scope="row">999998</th>
            <td>Nombre 1</td>
            <td>Territorio 1</td>
            <td>9 999 99 999</td>
            <td>9 999 99 999</td>
            <td>
              <button class="btn-primary btn-sm btn-chico m-0" mdbBtn type="button" size="sm" mdbWavesEffect>
                <mdb-icon icon="pencil" size="2x"></mdb-icon>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="999997">
                <label class="form-check-label" for="999997"></label>
              </div>
            </td>
            <th scope="row">999997</th>
            <td>Nombre 1</td>
            <td>Territorio 1</td>
            <td>9 999 99 999</td>
            <td>9 999 99 999</td>
            <td>
              <button class="btn-primary btn-sm btn-chico m-0" mdbBtn type="button" mdbWavesEffect>
                <mdb-icon icon="pencil" size="2x"></mdb-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
<!-- Cabecera de botones -->
