/* You can add global styles to this file, and also import other style files */
body {
  background: #fffcf8;
}
.background-login {
  background: #55595c url("./assets/img/fondo.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.side-nav {
  .collapsible {
    margin-top: 4rem;
    .card .card-header a:hover,
    .card .card-header a:focus,
    .card .card-header a:active {
      background-color: #407ed1 !important;
      h5 {
        background-color: #407ed1 !important;
      }
    }
  }
  .logo-wrapper a {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.table-score {
  tbody {
    tr {
      th {
        .fa-lg {
          margin-right: 5px;
          font-size: 12px;
          vertical-align: 10%;
        }
      }
    }
  }
}

.md-form .prefix {
  left: 0;
}

table.table-sm th,
table.table-sm td {
  white-space: nowrap;
  border: 0;
  padding: 5px 10px;
}
.azul {
  background: #001fff30;
}
.bg-azul {
  background: #407ed1;
  th {
    text-align: center;
    color: white;
    font-weight: 800;
    border: 0;
  }
}
.bg-sub-azul {
  background: #43b2ff;
  th {
    color: #55595c;
    font-weight: 800;
  }
}

tfoot {
  .bg-sub-azul {
    th {
      color: #fff;
      font-weight: 800;
    }
  }
}
.noP {
  padding: 0;
}

.text-info {
  h6 {
    color: #373a3c;
    font-weight: 800 !important;
    margin: 0;
  }
  p {
    color: #373a3c;
  }
}

.login {
  display: flex;
  justify-content: center;
  .card-login {
    width: 400px;
  }
}
