<h1 class="mb-4">
  <mdb-icon icon="tasks" size="1x"></mdb-icon> Detalle de Clientes sin Compra
  (CSC)
</h1>

<!-- Heading -->
<div class="card card-miga-pan mb-4 wow"></div>
<!-- Heading -->

<!-- Cabecera de botones -->
<div class="card mb-4 wow">
  <!-- Card content -->
  <div class="card-body d-sm-flex">
    <button type="button" class="btn btn-success waves-light" mdbWavesEffect>
      Exportar excel
    </button>
  </div>
</div>
<!-- Cabecera de botones -->

<!-- Cabecera de botones -->
<div class="card mb-4 wow">
  <!-- Card content -->
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-responsive table-striped table-hover table-sm align-middle"
        hover="true"
        responsive="true"
      >
        <thead class="grey lighten-2">
          <tr class="bg-azul">
            <th scope="col" colspan="6"></th>
            <th scope="col" colspan="4" class="azul">Septiembre 2018</th>
            <th scope="col" colspan="4">Septiembre 2017</th>
            <th scope="col" colspan="4" class="azul">Var. % s/ Año Ant.</th>
          </tr>
          <tr class="bg-sub-azul">
            <th scope="col">RUT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Comuna</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Territorio</th>
            <!-- Septiembre 2018 -->
            <th scope="col" class="azul">Valor ($)</th>
            <th scope="col" class="azul">Vol. (Lts)</th>
            <th scope="col" class="azul">PPL ($)</th>
            <th scope="col" class="azul">Nº Cajas</th>
            <!-- Septiembre 2017 -->
            <th scope="col">Valor ($)</th>
            <th scope="col">Vol. (Lts)</th>
            <th scope="col">PPL ($)</th>
            <th scope="col">Nº Cajas</th>
            <!-- Var. % s/ Año Ant. -->
            <th scope="col" class="azul">Valor ($)</th>
            <th scope="col" class="azul">Vol. (Lts)</th>
            <th scope="col" class="azul">PPL ($)</th>
            <th scope="col" class="azul">Nº Cajas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>54.678.345-1</th>
            <th>Ana Mercedes Riquelme</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>4444</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
          </tr>
          <tr>
            <th>54.678.345-1</th>
            <th>Ana Mercedes Riquelme</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>4444</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
          </tr>
          <tr>
            <th>54.678.345-1</th>
            <th>Ana Mercedes Riquelme</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>4444</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
          </tr>
          <tr>
            <th>54.678.345-1</th>
            <th>Ana Mercedes Riquelme</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>4444</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
          </tr>
          <tr>
            <th>54.678.345-1</th>
            <th>Ana Mercedes Riquelme</th>
            <th>Santa victoria 41</th>
            <th>Santiago</th>
            <th>Santiago</th>
            <th>4444</th>
            <!-- Septiembre 2018 -->
            <th class="azul">$ 0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <th class="azul">0</th>
            <!-- Septiembre 2017 -->
            <th>$ 4.762.233</th>
            <th>2.092,3</th>
            <th>10.050,9</th>
            <th>1.453,0</th>
            <!-- Var. % s/ Año Ant. -->
            <th class="azul">$ 4.762.233</th>
            <th class="azul">2.092,3</th>
            <th class="azul">10.050,9</th>
            <th class="azul">1.453,0</th>
          </tr>
        </tbody>
        <tfoot>
          <tr class="bg-sub-azul">
            <th class="text-right" colspan="6">Totales</th>
            <!-- Septiembre 2018 -->
            <th scope="col" class="azul">Valor ($)</th>
            <th scope="col" class="azul">Vol. (Lts)</th>
            <th scope="col" class="azul">PPL ($)</th>
            <th scope="col" class="azul">Nº Cajas</th>
            <!-- Septiembre 2017 -->
            <th scope="col">Valor ($)</th>
            <th scope="col">Vol. (Lts)</th>
            <th scope="col">PPL ($)</th>
            <th scope="col">Nº Cajas</th>
            <!-- Var. % s/ Año Ant. -->
            <th scope="col" class="azul">Valor ($)</th>
            <th scope="col" class="azul">Vol. (Lts)</th>
            <th scope="col" class="azul">PPL ($)</th>
            <th scope="col" class="azul">Nº Cajas</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!-- Cabecera de botones -->
